
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
 
}

.flex{
  display: flex;
}

.m-width{
  max-width: 1200px;
  margin: 0 auto;
}
.btn-primary{
  color: white;
  background-color: #E02C6D;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 41px;
  padding: 10px 24px;

}
/* header  */

/* nav section  */


nav{
  justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 80px ;
}
.logo{
  font-size: 1.3rem;
}
nav ul{

  gap: 30px ;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;

}
nav ul a{
  color: black;
  text-decoration: none;
}

.hero-section{
  align-items: center;

}
.hero-section h1{
  color: #3A3A3A;
  font-size: 3.3rem ;
}
.hero-section p{
  font-size: 1rem;
    color: #3A3A3A;
    margin: 16px 0px 16px 0px;

}
.main-camera {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main-camera img{
  padding: 15px;
}