
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
 
}

.flex{
  display: flex;
}

.m-width{
  max-width: 1200px;
  margin: 0 auto;
}
.btn-primary{
  color: white;
  background-color: #E02C6D;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 41px;
  padding: 10px 24px;

}
/* header  */

/* nav section  */


nav{
  justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 80px ;
}
.logo{
  font-size: 1.3rem;
}
nav ul{

  gap: 30px ;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;

}
nav ul a{
  color: black;
  text-decoration: none;
}

.hero-section{
  align-items: center;

}
.hero-section h1{
  color: #3A3A3A;
  font-size: 3.3rem ;
}
.hero-section p{
  font-size: 1rem;
    color: #3A3A3A;
    margin: 16px 0px 16px 0px;

}
.main-camera {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main-camera img{
  padding: 15px;
}

/* main section  */

.brand-section{
  max-width: 1110px;
  margin: 0 auto;
  gap: 60px;
  align-items: center;
  margin-top: 70px;
  padding: 43px;
  justify-content: center;
    box-shadow: 0 0 5px rgb(230, 230, 230);
    margin-bottom: 100px;
}


/* product-sectiion  */

.products{
  max-width: 1047px;
  margin: 0 auto;
}
.products h3{
  color: #3A3A3A;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  
}

.cards{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 30px;
}


.card{
  /* border: 2px solid; */
  padding: 17px;
  /* text-align: start; */
  border-radius:  5px ;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
.card h4{
  color: #18191F;
  font-size: 1.7rem;
  font-weight: 500;
  
}
.card h5{
  margin-top: 6px;
  margin-bottom: 5px;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  
  
}
.fa-solid{
  color: orange;
}
.card p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #787885;
}










@media screen and (max-width:576px) {

  nav{
    margin-top: 35px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
  }
  nav ul {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
  }

  /* hero section  */
  .hero-section{
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-section h1{
    margin-top: 16px;
    font-size: 1.8rem;
  }
  .hero-section p{
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
}