
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
 
}

.flex{
  display: flex;
}

.m-width{
  max-width: 1200px;
  margin: 0 auto;
}
/* header  */

/* nav section  */


nav{
  justify-content: space-between;
}

nav ul{

  gap: 30px ;
  list-style: none;
  font-weight: 500;

}
nav ul a{
  color: black;
  text-decoration: none;
}